header img {
	width: 200px;
	height: auto;
}

header {
	margin: 25px;
}

header h1 {
	font-size: 21pt;
}

nav {
	margin-top: 50px;
	margin-bottom: 50px;
}

nav h2 {
	padding-left: 60px;
}

nav p {
	font-style: italic;
	padding-left: 60px;
}

ul {
	padding-left: 80px;
}

li {
	padding-bottom: 4px;
}

li a {
	color: #0D118B;
	text-decoration: none;
	/*font-size: 20pt;*/
	list-style: none;
	text-align: center;
	vertical-align: middle;
}

nav ul {
	width: 100%;
}

nav ul li {
	float: left;
	margin-right: 20px;
	background-color: white;
	border-radius: 8px;
	list-style: none;
	text-align: center;
	width: 200px;
	padding-top: 5px;
}

#main-content {
	color: black;
	border-radius: 10px;
	margin: 60px 78px;
	min-height: 400px;
	padding-top: 10px;
}

#main-content h2 {
	padding: 14px;
	color: black;
	text-align:center;
}

#main-content p {
	color: black;
}