header img {
	width: 400px;
	height: auto;
}

header {
	padding: 25px;
	background: #4d6600;
}

header h1 {
	font-size: 21pt;
}

nav {
	background: #4d6600;
	margin-top: 50px;
	margin-bottom: 50px;
}

nav h2 {
	padding-left: 60px;
}

nav p {
	font-style: italic;
	padding-left: 60px;
}

ul {
	padding-left: 80px;
}

li {
	padding-bottom: 4px;
	border: 5px solid;
}

li a {
	color: #0D118B;
	text-decoration: none;
	list-style: none;
	text-align: center;
	vertical-align: middle;
}

nav ul {
	width: 100%;
}

nav ul li {
	float: left;
	margin-right: 20px;
	background-color: white;
	border-radius: 8px;
	list-style: none;
	text-align: center;
	width: 200px;
	padding-top: 5px;
}

#main-content {
	color: black;
	border-radius: 10px;
	margin: 60px 78px;
	min-height: 400px;
	padding-top: 10px;
}

#main-content h2 {
	padding: 14px;
	color: black;
	text-align:center;
}

#main-content p {
	color: black;
}

#hometable {
  border-collapse: separate;
  border-spacing: 50px 0;
}

#hometable td {
  padding: 10px;
}

.formInputGroup{
	padding:5px;
}
.survey{
	padding-left:5%;
}
#emailaddress {
        border-radius: 5px;
} 
.row{
	display:flex;
	justify-content:flex-start;

}

#activity{
	padding-left:14px;
	padding-right: 5px;
}


.radio2{
	padding-right:14px;

}